.w1temp-status-icon {
    icon-size: 1.6em;
}

.w1temp-status-text {
   padding: 1px 0 0 1px;
   vertical-align: middle;
}

.w1temp-menu-text {
   padding-left: 1em;
   padding-right: 1em;
   font-size: 0.9em;
}

