<?xml version="1.0" encoding="utf-8"?>

<report unixepoch="<!-- var:udate -->" timestamp="<!-- var:idate -->">
  <station place="Netley Marsh">
    <sensor name="temperature" value="<!-- var:temp -->" units="°C"></sensor>
    <sensor name="pressure" value="<!-- var:press -->" units="hPa"></sensor>
    <sensor name="humidity" value="<!-- var:humid -->" units="%"></sensor>
    <sensor name="rainfall" value="<!-- var:rain -->" units="mm/hr <!-- var:rstr -->"></sensor>
    <sensor name="dewpoint" value="<!-- var:dewpt -->" units="°C"></sensor>
    <sensor name="greenhouse" value="<!-- var:gtemp -->" units="°C"></sensor>
    <sensor name="propagator1" value="<!-- var:itemp1 -->"
    units="°C"></sensor>
    <sensor name="propagator2" value="<!-- var:itemp2 -->" units="°C"></sensor>
  </station>
  <station place="Southampton Docks">
    <sensor name="windspeed" value="<!-- var:wspd -->" units="knots"></sensor>
    <sensor name="direction" value="<!-- var:wdir -->" units="degrees"></sensor>
    <sensor name="tide" value="<!-- var:tide -->" units="metres"></sensor>
  </station>
</report>
