Temperature: <!-- var:temp --> °C
Pressure: <!-- var:press --> hPa
Humidity: <!-- var:humid --> %
Rainfall: <!-- var:rain --> in/hr <!-- var:rstr -->
Dewpoint: <!-- var:dewpt --> °C
Greenhouse: <!-- var:gtemp --> °C
Garage: <!-- var:btemp --> °C
House: <!-- var:htemp --> °C
Windspeed: <!-- var:wspd --> knots
Direction: <!-- var:wdir --> degrees
Tide: <!-- var:tide --> metres
Date: <!-- var:idate -->
