Temperature: <!-- var:temp --> °C
Pressure: <!-- var:press --> hPa
Humidity: <!-- var:humid --> %
Rainfall: <!-- var:rain --> mm/hr <!-- var:rstr -->
Monthly: <!-- var:monstr --> mm
Dewpoint: <!-- var:dewpt --> °C
Greenhouse: <!-- var:gtemp --> °C
Front Garden: <!-- var:ctemp1 --> °C
Soil: <!-- var:stemp --> °C
Garage: <!-- var:btemp --> °C
House: <!-- var:htemp --> °C
CPU: <!-- var:hostd --> rpm
Solar: <!-- var:solar --> W/m^2
Dock Source: <!-- var:dsource -->
Windspeed: <!-- var:wspd --> knots
Direction: <!-- var:wdir --> degrees
Tide: <!-- var:tide --> metres
Date: <!-- var:idate -->
